[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"
drf-spectacular = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
celery = "*"
redis = "*"
at-krl = {git = "git+https://github.com/grigandal625/AT_KRL.git#egg=at-krl"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
server = "pipenv run ./manage.py runserver 10.0.1.3:8888"
makemigrations = "pipenv run ./manage.py makemigrations"
migrate = "pipenv run ./manage.py migrate"
