.kb-title {
    margin-top: 0px;
}

.ant-collapse.kb-general .ant-collapse-content{
    background-color: var(--colorSettingsFill);
}

.ant-collapse.kb-general .ant-input-group-addon{
    background-color: var(--color-bg-container);
}